<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>      
  <add key="inclusion" value="2" />     
  <add key="fileAddress" value="C:\Users\User\source\repos" />      
  <add key="fileName" value="configure" />
  <add key="email" value="somebody@mail.ru"/>
  <add key="server" value="smtp.mail.ru"/>
 <add key="urlAddress" value="http:some/url.com"/>
</appSettings>
</configuration>