<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>      
  <add key="inclusion" value="2" />     
  <add key="fileAddress" value="C:\Users\GrigorievaT\source\repos\InternProjects\task1\task1\bin\Debug" />      
  <add key="fileName" value="configure.csv" />
  <add key="emailErrorReport" value="somebody@mail.ru"/>
  <add key="serverErrorReport" value="smtp.testrussia.local"/>
  <add key="emailCheckReport" value="somebody@mail.ru"/>
  <add key="serverCheckReport" value="smtp.testrussia.local"/>
 <add key="urlAddress" value="https://support.microsoft.com/ru-ru/help/815786."/>
</appSettings>
	<connectionStrings>
		<add name="LinkConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=linkdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<!--<add name="ReportConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=checkdb;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>

</configuration>
